html, body {
    overflow: hidden;
}

.graph-container {         
    overflow: hidden;  
    width: 500px;
    height: 500px; 
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none; 
    background: url("../img/background.jpg");
}
.zoom {
    position: fixed;    
    right: 25px;
    width: 35px;
    height: 35px;
    background-color: Transparent;
    
}

.zoom-in {
    bottom: 10px;  
}

.zoom-out {        
    bottom: 60px;
}

.row-item {    
    width: 100%;
    margin: 10px;
    margin-bottom: 30px;
}

.graph-element-chain {    
    margin-top: -5px;
}

.graph-element-server {
    margin-top: -10px;    
}

.row-item-wraper-chain {
    margin: 5px 0 0 50px;
    padding-left: 55px;
    background: url("../img/chain.png") no-repeat;
}

.row-item-wraper-server {
    margin: 10px 0 0 155px;
    padding-left: 55px;
    background: url("../img/chain.png") no-repeat;
}

.graph-element {
    padding: 15px 0 0 15px;    
}

.graph-element > .certificate {     
    width: 400px;
    height: 100px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
    box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
}

.graph-element > .certificate > .status {
    height: 100px;
    width: 7px;
    float: left;
    background: #99cc33;
}

.graph-element > .certificate > .status-alert {
    background: #ff771d;
}

.graph-element > .certificate > .status-danger {
    background: #ff0000;
}

.graph-element > .certificate > .img-icon {
    margin-left: 15px;
    padding-top: 20px;
    width: 50px;
    height: 100px;
    text-align: center;
    color:#99cc33;
    float: left;
}
.graph-element > .certificate > .img-icon > .icon-desc-alert {
    color: #ff771d;
} 

.graph-element > .certificate > .img-icon > .icon-desc-danger {
    color: #ff0000;
}

.graph-element > .certificate > .certificate-desc {
    float: left;
    padding-top: 12px;
    padding-left: 20px;
}

.graph-element > .certificate > .certificate-desc > .ca-name {
    font-weight: bold;
}

.graph-element > .certificate > .certificate-desc > .ca-validity {
    padding-top: 5px;
    font-size: 10pt;
    color: #cbcbcb;
}

.graph-element > .certificate > .certificate-desc > .ca-validity > .validity-values {
    width: 100%;
}

.graph-element > .certificate > .certificate-action {
    position: relative;
    float:right;
    width: 5px;
    height: 30px;    
    margin-right: -5px; 
    top: 35px;    
}

.graph-element > .certificate > .certificate-action > .btn-action {
    width: 5px;
    height: 30px;
    background: #000000 url("../img/cert-action.png") no-repeat;
    background-position: center;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.row-item-wraper-server > .publish {
    margin-left: 180px; 
    margin-top: -10px;   
}

.row-item-wraper-server > .publish > .connector-dropdown {
    padding: 0;
    margin-top: 15px;
}

.row-item-wraper-server > .publish > .connector-dropdown > .btn-prop-option > .circle {
    float: left;
    width: 20px;
    height: 20px;    
    line-height: 12px;
    font-size: 16pt;    
}

.square-legend {
    margin-left: 3px;
}

.tree-publish, .tree-publish ul {
    margin:0;
    padding:0;
    padding-top: 20px; 
    list-style:none
}
.tree-publish ul {
    margin-left:1em;
    position:relative
}
.tree-publish ul ul {
    margin-left:.5em
}
/**Traço vertical*/
.tree-publish ul:before {    
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:20px;
    bottom: 16px;
    left:-6.5px;
    border-left: 2px dotted;
}

.tree-publish ul ul:before{    
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    border-left: none;
}

.tree-publish li {    
    margin:0;
    margin-top: 25px;
    margin-bottom: 90px;
    padding:0 1em;
    line-height:2em;
    color: #a3a0a0;
    font-weight:700;
    position:relative
}
/**Traço horizontal*/
.tree-publish ul li:before {
    content:"";
    display:block;
    width: 10px;
    height:0;
    border-top: 2px dotted;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree-publish ul ul li:before {
    content:"";
    display:block;
    width: 0;
    height:0;
    border-top: none;
    margin-top: 0;
    position:absolute;
    top:1em;
    left:0
}

.tree-publish ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree-publish li a {
    text-decoration: none;
    color: #a3a0a0;
}

/** Tree Device */
.tree-dev, .tree-dev ul {
    margin:0;
    padding:0;    
    list-style:none
}
.tree-dev ul {
    margin-left:1em;
    position:relative
}
.tree-dev ul ul {
    margin-left:.5em
}

/**Traço vertical*/
.tree-dev ul:before {    
    content:"" !important;
    display:block !important;
    width:0 !important;
    position:absolute !important;
    top: -5px !important;
    bottom: 16px !important;
    left:-2.5px !important;
    border-left: 2px dotted !important;
}

.tree-dev li {    
    margin:0;
    padding:0 1em;  
    padding-left: 105px !important;  
    line-height:2em;
    color: #a3a0a0;
    font-weight:700;
    position:relative
}

/**Traço horizontal*/
.tree-dev ul li:before {
    content:"" !important;
    display:block !important;
    width: 100px !important;
    height:0 !important;
    border-top: 2px dotted !important;
    margin-top:-1px !important;
}

.tree-dev ul.dropdown-menu li {     
    padding-left: 0 !important;  
}

.tree-dev ul.dropdown-menu li:before {
    content:"" !important;
    display:block !important;
    width: 0 !important;
    height:0 !important;
    border-top: none !important;
    margin-top:0 !important;
    position:absolute !important;
    top:1em !important;
    left:0 !important;
}

.tree-dev ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}

.tree-dev li a {
    text-decoration: none;
    color: #a3a0a0;
}

.hidden {
    display: none !important;
}

.collapse {
    font-size: 13px;
    color: #000000;
}
fieldset > legend {
    font-size: 12pt;
}
.connector-dropdown-device {
    margin-top: -60px;
    margin-left: 175px;
    position: relative;
}

/** Connector box */
.connector-box {    
    width: 280px;
    padding: 8px 8px 8px 8px;
	position: relative;
	background:#F8F8FF;
    border: 1px solid#F8F8FF;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
    box-shadow: 0px 0px 6px 1px rgba(166,166,166,1);
}

.connector-box > .connector-action {
    float:left;
    margin-left: 100px; 
    margin-top: 8px;      
    width: 30px;
    height: 10px  
}

.connector-box > .connector-action > .btn-action {
    float:left;
    width: 30px;
    height: 15px;
    background: #000000 url("../img/pub-action.png") no-repeat;
    background-position: center;
    cursor: pointer;    
}

.form-connector {
    width: 280px;    
}

.new-device {    
    margin-bottom: 40px !important;  
    min-width: 300px;        
}

.new-device > div .btn-group {
    background: #cbcbcb !important;
    color: #8B8989;
    font-size: 10px;
}

.new-device > div .btn-group:hover {
    background: #8B8989 !important;
    color: #cbcbcb;
}

.container-add-publish {
    min-width: 200px;    
}

.container-add-publish > a {
    cursor: pointer;
}

.container-add-device {
    min-width: 120px;    
    cursor: pointer;
}

.clear {
    clear: both;
}